* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url('bglogo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to the viewport height */
}

/* Header styles */
header {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 28px;
  color: #fff;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}


