
#servicead {
    padding: 50px 0;
    background-color: #ffffff;
    margin-top: -200px;
}

.service-containerad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
   /* Adjust for responsive layout */
    max-width: 1200px;
    margin: 0 auto; /* Center content */
}

.service-itemsad {
    margin-right: 20px;
    flex: 1; /* Adjusts to fill available space */
}

.service-itemsad img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.service-itemsad img:hover {
    transform: scale(1.05);
}

.service-text-content {
    max-width: 600px;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.service-text-content.show {
    opacity: 1;
    transform: translateY(0);
}

.service-text-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; /* Enhance text readability */
}

.service-text-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555; /* Enhance text readability */
}

.service-text-content ul {
    list-style: none;
    padding: 0;
    color: black;
    font-weight: 500;
}

.service-text-content ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555; /* Enhance text readability */
}
