@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0,0, 5);
    background: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29f700 !important;
}
#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px #29f700;
}
#navbarSupportedContent button{
    background:#29f700;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

             /**Home**/

#home{
    background-color: rgb(19, 140, 240);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home h1{
    font-size: 100px;
    color: #fff;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc;
    
}
.img-fluid{
    margin: 100px !important;
}
#home p{
    font-size: 18px;
    color: #fff;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
    background:#29f700 !important;
    color: #fff !important;
    box-shadow: 2px 4px 5px rgb(146, 140, 140);
}

                    /**About**/

#about{
    background: linear-gradient(#ea1d6f,#eb466b 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: #fff;
}
#about p{
    color: rgb(247, 248, 246);
}

/** Products**/

#product{
    background: #fff;
}
#product h1{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 800px;
}
#product img{
    width: 200px;
    height: 200px;
}
.card{
    align-items: center;
    width: 200px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,0.3),
                inset 4px 4px 10px rgb(247, 246, 246);                   /**inset prop will be visible only on removed bg img(ex:.png)**/
    border-radius: 20px !important;
    overflow: hidden;
    margin: 40px 60px;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgb(240, 239, 239),
                inset -4px -4px 10px white;
    transition: 0.3s;
}

/** Contact us**/

.container img{
    width: 500px;
    height: 100%;   
}
.box{
    width: 80%;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
}

#contact input{
    margin-top: 10px;
    width: 100%
}

#contact textarea{
    margin-top: 10px;
}


#contact button{
    margin-top: 10px;
}

#contact form{
    margin-left: 150px;
}

#contact h1{
    margin-left: 150px;
}